@tailwind base;
@tailwind components;
@tailwind utilities;


.newcars-slider .content{
    transition: all 300ms linear;
}

.newcars-slider .swiper-slide-active .content {
  transform: scale(1);
}

.newcars-slider .swiper-slide-active img {
  transform: scale(1);
  opacity: 1;
}

.newcars-slider .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.newcars-slider .box .content .price {
  font-size: 2.2rem;
  color: var(--yellow);
  padding: 1rem 0;
  font-weight: bolder;
}

.newcars-slider .box .content .price span {
  color: var(--light-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.newcars-slider .box .content p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--light-color);
  padding: 1rem 0;
  padding-top: 1.5rem;
  border-top: var(--border);
}

.newcars-slider .box .content span {
  font-size: 1.4rem;
  color: var(--black);
  padding: 0 0.5rem;
}

.newcars-slider .swiper-pagination-bullet-active {
  background: #f9d806;
}
