* {
  transition: all 0.25s linear;
}

.swiper-pagination-bullet-active {
  background: #f9d806;
}

.newcars-slider img {
  margin: auto;
  width: 80%;
  transform: scale(0.7);
  opacity: 0.5;
}
.newcars-slider .swiper-slide-active img {
  transform: scale(1.1);
  opacity: 1;
}

.newcars-slider .content {
  transform: scale(0);
}

.newcars-slider .swiper-slide-active .content {
  transform: scale(1);
}


/* .autostore-slider {
  overflow: visible;
} */
.autostore-slider .swiper-slide {
  opacity: 0.4;
  transform: scale(0.9);
}

.autostore-slider .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  /* border: 1px solid rgb(165, 165, 165); */
  /* border-radius: 0.5rem; */
}
